.wrapper {
    display: flex;
}

.content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    overflow: scroll;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    background-color: pink;
}
