.table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

.heading {
    background-color: #dcdcdc;
    color: #686868;
}

.title {
    padding-left: 16px;
    font-weight: 600;
}

tbody .tr {
    height: 36px;
}

.tr td {
    padding-left: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// State type
.red {
    color: var(--error);
}

.green {
    color: var(--success);
}
