@mixin defaultSidebarStyles {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    color: var(--primary-color-sidebar);
    background-color: var(--primary-background-color-sidebar);
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.wrapper {
    @include defaultSidebarStyles;
    width: 78px;
}

.active {
    @include defaultSidebarStyles;
    width: 240px;
}
