.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    flex: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 150px;
    width: 150px;
    margin: 22px 0;
}

.name {
    font-size: 2.5rem;
    display: inline-block;
    width: 234px;
    font-weight: 600;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.id {
    font-weight: 600;
    font-size: 1.4rem;
}

.logo-img {
    height: 300px;
    object-fit: cover;
    object-position: center center;
    padding-left: 8px;
    margin-bottom: 22px;
}

.logo-name {
    font-weight: 600;
    color: #022279;
    margin-bottom: 20px;
}
