.wrapper {
    display: flex;
    align-items: center;
    height: var(--default-header-height);
    // background-color: black;
}

@mixin defaultLogoStyles {
    display: flex;
    align-items: center;
    width: 90%;
    transition: all 0.5s ease;
}

.logo {
    @include defaultLogoStyles;
    opacity: 0;
}

.logoActive {
    @include defaultLogoStyles;
    opacity: 1;
}

.logo-img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.logo-name {
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin defaultMenuBtnStyles {
    position: absolute;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transform: translateX(-50%);
}

.btn-menu {
    @include defaultMenuBtnStyles;
    left: 50%;
}

.btnActive {
    @include defaultMenuBtnStyles;
    left: 90%;
}
