.wrapper {
    position: absolute;
    color: var(--white);
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color-sidebar);
}

.profile {
    display: flex;
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4 ease;
    background: auto;
}

@mixin defaultProfileDetailsStyles {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.profile-details {
    @include defaultProfileDetailsStyles;
    opacity: 0;
    pointer-events: none;
}

.activeProfileDetails {
    @include defaultProfileDetailsStyles;
    opacity: 1;
    pointer-events: auto;
}

.avatar {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.name-job {
    margin-left: 10px;
}

.name {
    font-size: 1.5rem;
    font-weight: 400;
}

.job {
    font-size: 1.2rem;
}

@mixin defaultIconStyles {
    position: absolute;
    color: var(--primary-color-sidebar);
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;
    background: var(--primary-background-color-sidebar);
}

.icon {
    @include defaultIconStyles;
    left: 50%;
}

.activeIcon {
    @include defaultIconStyles;
    left: 88%;
}
