.menu-list {
    margin-top: 20px;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary-color-sidebar);
    height: 50px;
    width: 100%;
    // padding-left: 16px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
    margin-top: 22px;

    &.active {
        color: var(--white);
        background: var(--primary-color-sidebar);
    }

    &:hover {
        .icon {
            color: var(--white);
            font-size: 2rem;
        }
        color: var(--white);
        background: var(--primary-color-sidebar);
    }
}

@mixin defaultIconStyles {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    text-align: center;
    margin-right: 22px;
    transform: translateX(50%);
}

.icon,
.active-icon {
    font-size: 3.5rem;
    @include defaultIconStyles;
}

.sidebarSmallIcon {
    font-size: 2rem;
    height: 25px;
    @include defaultIconStyles;
}

@mixin defaultTitleStyles {
    font-size: 2rem;
    transition: all 0.5s ease;
}

.title {
    @include defaultTitleStyles;
    opacity: 0;
    pointer-events: none;
}

.active {
    @include defaultTitleStyles;
    opacity: 1;
    pointer-events: none;
    opacity: 0.8;
}

.active-icon {
    display: none;
}
