.wrapper {
    height: var(--default-header-height);
    display: flex;
}

.logo-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    max-width: 40px;
    height: 40px;
    cursor: pointer;
}

.info-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 12px;
    cursor: default;
    color: var(--text-color);
}

.iconDrop {
    color: var(--gray);
    margin-right: 12px;
}
